*.pyc
*.pyo
*.db
.DS_Store
.coverage
*.sqlite3
.idea/
/env.cfg
local_settings.py
/static/*
!static/CACHE/
static/CACHE/*
!/static/CACHE/.gitignore
/venv
feel_free.sublime-project
feel_free.sublime-workspace
mysite.log
heroku.feel_free
heroku.feel_free.pub
/uploads
